/* page  */

body{
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
                 "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.home{
    border: 2px solid black;
    border-radius: 10px;
    padding:24px;
}

/* heading */

.u1{
display:flex;
align-items: center;
justify-content: center;
flex-direction:column;
margin:0 0 12px 0;
}

.u1 h1{
     font-family: 'Poppins','Segoe UI','Roboto',sans-serif;
}

.u1 p{
    color:grey;
     font-family: 'Poppins','Segoe UI','Roboto',sans-serif;
}

/* log */

.u2{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:8px 0 0 85px;
    gap:26px;
}

.u2-1{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 38px; 
}

.u2-2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 46px;
    height:450px;
    width:18px;
}

.u2-2-1{
width:4px;
background-color: black;
height:480px;
display:flex;
justify-content: center;
align-items: center ;
border-radius:19px;
position:absolute;
left: 300.5px; 
}

.u2-3{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 38px;
    margin:0 0 0 46px;
}

.circle{
    height: 21px;
    width:21px;
    background-color:black;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date,.log{
      font-family: 'Poppins','Segoe UI','Roboto',sans-serif;
}

.date{
    color:grey;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}
.log{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    color: #111;
}

/* button */

button{
    color:white;
    background-color: black;
    border-radius:9px;
    font-family: 'Poppins','Segoe UI','Roboto',sans-serif;
    margin:12px 0 0 0;
    padding:12px 36px 12px 36px;
    position:relative;
    left:40%;
    cursor: pointer;
    margin:50px 0 0 0;
}

button:hover{
    opacity:.7;
    box-shadow: 6px 6px 10px rgb(147, 147, 147);
    transition: opacity 0.15s;
}

button:active{
    transition: opacity 0.15s;
    opacity:.4;
    box-shadow: 0 0 0 white;
}